In [1]:
import pandas as pd
from reader import prepare_potreb_prices_data, create_potreb_prices_dfs
from parser import create_potreb_prices_params
path = '/Users/rokerius/VSCodeProjects/CU_TL_MEGAFON_3/CU_TL_Megafon_NPS/data/potreb_prices.xlsx'

potreb_prices = create_potreb_prices_dfs(path)

/Users/rokerius/VSCodeProjects/CU_TL_MEGAFON_3/CU_TL_Megafon_NPS/src/utils/denis/economic_data/parser.py:64: SyntaxWarning: invalid escape sequence '\s'
  row = df[df["Наименование территории"].str.replace("\s+", " ", regex=True).str.strip() == region_norm]

In [2]:
df = pd.read_excel(path, sheet_name="01(2025)", skiprows=6)
target = pd.read_excel("/Users/rokerius/VSCodeProjects/CU_TL_MEGAFON_3/CU_TL_Megafon_NPS/data/target.xlsx", sheet_name="data cleaned")
new_df = prepare_potreb_prices_data(df)

In [3]:
new_df["Наименование территории"].unique()

array(['Брянская область', 'Владимирская область', 'Воронежская область',
       'Ивановская область', 'Калужская область', 'Костромская область',
       'Курская область', 'Липецкая область', 'Московская область',
       'Орловская область', 'Рязанская область', 'Смоленская область',
       'Тамбовская область', 'Тверская область', 'Тульская область',
       'Ярославская область', 'г.Москва',
       'Северо-Западный федеральный округ', 'Республика Карелия',
       'Республика Коми', 'Архангельская область', 'Ненецкий авт.округ',
       'Архангельская область (кроме Ненецкого автономного округа)',
       'Вологодская область', 'Калининградская область',
       'Ленинградская область', 'Мурманская область',
       'Новгородская область', 'Псковская область', 'г.Санкт-Петербург',
       'Южный федеральный округ', 'Республика Адыгея',
       'Республика Калмыкия', 'Республика Крым', 'Краснодарский край',
       'Астраханская область', 'Волгоградская область',
       'Ростовская область', 'г.Севастополь',
       'Северо-Кавказский федеральный округ', 'Республика Дагестан',
       'Республика Ингушетия', 'Кабардино-Балкарская Республика',
       'Карачаево-Черкесская Республика',
       'Республика Северная Осетия\n - Алания', 'Чеченская Республика',
       'Ставропольский край', 'Приволжский федеральный округ',
       'Республика Башкортостан', 'Республика Марий Эл',
       'Республика Мордовия', 'Республика Татарстан',
       'Удмуртская Республика', 'Чувашская Республика', 'Пермский край',
       'Кировская область', 'Нижегородская область',
       'Оренбургская область', 'Пензенская область', 'Самарская область',
       'Саратовская область', 'Ульяновская область',
       'Уральский федеральный округ', 'Курганская область',
       'Свердловская область', 'Тюменская область',
       'Ханты-Мансийский авт.округ\n - Югра', 'Ямало-Hенецкий авт.округ',
       'Тюменская область (кроме \nХанты-Мансийского автономного округа - Югры и Ямало-Ненецкого автономного округа)',
       'Челябинская область', 'Сибирский федеральный округ',
       'Республика Алтай', 'Республика Тыва', 'Республика Хакасия',
       'Алтайский край', 'Красноярский край', 'Иркутская область',
       'Кемеровская область - Кузбасс', 'Новосибирская область',
       'Омская область', 'Томская область',
       'Дальневосточный федеральный округ', 'Республика Бурятия',
       'Республика Саха (Якутия)', 'Забайкальский край',
       'Камчатский край', 'Приморский край', 'Хабаровский край',
       'Амурская область', 'Магаданская область', 'Сахалинская область',
       'Еврейская авт.область', 'Чукотский авт.округ', nan], dtype=object)

In [4]:
target = create_potreb_prices_params(target, potreb_prices)
target.head(20)

,start_date,year,month,nps,state,Код территории,Наименование территории,ИПЦ,Продовольственные товары,Непродовольственные товары,Услуги
0,2024-10-01,2024,10,8,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
1,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
2,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
3,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
4,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
5,2024-10-01,2024,10,0,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
6,2024-10-01,2024,10,9,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
7,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
8,2024-10-01,2024,10,5,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
9,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
10,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
11,2024-10-01,2024,10,7,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
12,2024-10-01,2024,10,0,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
13,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
14,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
15,2024-10-01,2024,10,7,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
16,2024-10-01,2024,10,10,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
17,2024-10-01,2024,10,8,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
18,2024-10-01,2024,10,0,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92
19,2024-10-01,2024,10,0,Алтайский край,1000000,Алтайский край,101.1,101.22,101.09,100.92

In [5]:
target[target.isnull().any(axis=1)].head(100)

Empty DataFrame
Columns: [start_date, year, month, nps, state, Код территории, Наименование территории, ИПЦ, Продовольственные товары, Непродовольственные товары, Услуги]
Index: []

In [6]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71500 entries, 0 to 71499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   start_date                  71500 non-null  datetime64[ns]
 1   year                        71500 non-null  int64
 2   month                       71500 non-null  int64
 3   nps                         71500 non-null  int64
 4   state                       71500 non-null  object
 5   Код территории              71500 non-null  int64
 6   Наименование территории     71500 non-null  object
 7   ИПЦ                         71500 non-null  float64
 8   Продовольственные товары    71500 non-null  float64
 9   Непродовольственные товары  71500 non-null  float64
 10  Услуги                      71500 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 6.0+ MB